/* Используемые шрифты:
-Montserrat-Regular
-Montserrat-Bold 
-Montserrat-Medium */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular.woff2') format('woff2'),
	url("../fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff') format('woff'),
	url('../fonts/Montserrat-Medium.woff2') format('woff2'),
	url("../fonts/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.woff2') format('woff2'),
	url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: Montserrat;
	color: #000;
}

/*header*/
.header{
	font-weight: 500;
	line-height: normal;
	color: #fff;
}

.header__loco,
.lang,
.header__menu-icon {
	text-align: center;
	
}
.header__loco{
	font-size: 30px;
	letter-spacing: 0.07em;
}

.lang {
	font-size: 20px;
	text-align: right;
	color: #fff;
	letter-spacing: 0.01em;
}


/*  screens  */

.main__box__title,
.box__title,
.price {
	font-weight: bold;
}
.main__box__title {
	line-height: 82px;
	font-size: 80px;
}

.main__box__text,
.parametr-box__text {
	font-weight: normal;
	line-height: 21px;
	font-size: 15px;
}

.opasity-text {
	opacity: 0.5;
}

.box__title,
.price {
	line-height: 41px;
	font-size: 40px;

}
.box__collection {
	color: #000;
	font-weight: bold;
	line-height: 16px;
	font-size: 16px;
	letter-spacing: 0.07em;
}

.price {
	line-height: 56px;
}

.btn,
.link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 0px;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	
}
.main__box__btn{	
	letter-spacing: 1.2;/*добавил, чтобы буквы были похожи*/
	word-spacing: -2;/*добавил, чтобы буквы были похожи*/
}
.main__box__link{
	letter-spacing: 0.87;/*добавил, чтобы буквы были похожи*/
	word-spacing: -1.1;/*добавил, чтобы буквы были похожи*/
}
.count {
	font-size: 15px;
}
.count__counter {
	line-height: 3.5;
}

.box__btn-add{
	font-size: 13px;
}


/*footer*/
.footer__text-dev,
.footer__text-webhero,
.footer__text-shcool {
	font-family: Montserrat;
	font-weight: bold;
	line-height: normal;
	font-size: 12px;
}
.footer__text-dev {
	text-transform: uppercase;
}

.footer__text-webhero{
	font-size: 15px;
	color: #fd3;
}
.footer__text-shcool {
	font-size: 10px;
}