body {
	width: 1440px;
	margin: 0;
}
.header {
	display: flex;
	position: absolute;
	width: 1440px;/*для других экранов надо поставить 100%*/
	height: 92px;
	z-index: 10;
}

.header__loco {
	display: inline-block;
	width: 98px;
	height: 37px;
	margin: 36px 238px 0 52px;
}

/* Mеню выбора языка*/
.lang {
	position: relative;
	display: inline-block;
	width: 31px;
	height: 25px;
	margin-top: 34px;
}

#lang__check{
    display: none;
}

label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.lang-nav{
    display: block;
    width: 100%;
    transform: translateY(50%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    text-align: left;
}

.lang-nav__link {
    display: block;
    width: 100%;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background-color: #000;
}

.lang-nav__link:hover{
    background-color: rgba(0,0,0,.9);
}

.lang__check:checked ~ .lang-nav{
    max-height: 500px;
    font-size: 16px;
}

/*Меню основное*/

.header__menu {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 92px;
	height: 92px;
    background-color: rgb(0, 0, 0, .05);
}

#header__menu-icon{
    display: none;
 }

label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line{
	margin: 0 auto;
	width: 34.7px;
	height: 3.48px;
	top: 39.54px;
	left: 28.25px;
	position: absolute;
 	background-color: #000;
    transition: .5s all;
}

.burger-line-first {
	top:  39.54px;
}

.burger-line-second {
    top: 48.98px;
}

.header__menu__links{
    display: block;
    position: absolute;
    width:300px;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    background-color: rgba(0,0,0,.05);
}

.header__menu__links-item{
    display: block;
    width: 100%;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.header__menu__links-item:hover{
    background-color: rgba(0,0,0,.1);
}

#header__menu-icon:checked ~ .header__menu__links{
    max-height: 500px;
    font-size: 16px;
    display: block;
}

#header__menu-icon:checked ~ .burger-line-first{
    transform: rotate(-45deg) translateY(5px);	
   
}

#header__menu-icon:checked ~ .burger-line-second{
    transform: rotate(45deg) translateY(-5px);
}
.main {/* позиция первого экрана, без менюше, так как он в абсолюте*/
	position: relative;
	top: 0;
	left: 0;
	width: 1440px;
	height: 900px;
	/* вместо черного блока на первом экране */
	background: linear-gradient(to right, #000 32%, #fff 32%, #fff 68%);
}

.main__img-of-girl {
	content: url(../img/girl.png);
	display: inline-block;
	margin: 169px 50px 9px 186px;
	width: 549px;
	height: 562px;
}

.main__box {
	display: inline-block;
	transform: translateY(-100px);
	margin-bottom: 56px;

}
.main__box__title {
	width: 475px;
	margin-top: 0;
	margin-bottom: 10px;
	height: 164px;
}
.main__box__text {
	width: 467px;
	height: 127px;
	margin-bottom: 36px;

}

.btn {
	border: 2px solid #000;
	text-shadow: none;
  	background-color: transparent;
}
.main__box__btn {
	width: 203px;
	height: 44px;
	margin-right: 54px;
}

.main__box__link {
	border: none;
	height: 44px;
	margin-right: 19px;
}

.vector1 {
	content: url(../img/vec1.svg);
	width: 43px;
	height: 13px;
}
.social-networks {
	margin-left: 52px;
}

.instagram-logo,
.fb-logo,
.vk-logo {	
	width: 42.98px;
	height: 43px;
	margin-left: 12.03px;
	text-decoration: none;
}

.scrooll {
	position: absolute;
    bottom: 40px;
    left: 430px;
	width: 308px;
	height: 807px;
}

/*second screen*/
.bag {
	position: relative;
	left: 0;
	top: 0;
	width: 1440px;
	height: 900px;
	background: #FAE8E4;
}

.bag-gray {
	content: url(../img/bag-gray.png);
	position: absolute;	
	top: 217px;
	left: 137px;
	width: 398px;
}

.bag-pink {
	content: url(../img/bag-pink.png);
	position: relative;
	width: 582px;
	left: 231px;
	top: 28px;
}


.box{
	display: inline-block;
	position: relative;		
}

.box-product {	
	width: 488px;
	height: 556px;
	left: 240px;
	bottom: 100px;
	background: #fff;	
}

.box__title {
	margin:40px 0 17px 40px;
}
.box__collection {	
	margin: 0 0 60px 40px;	
}
.box__text {
	margin: 0 0 52px 40px;
	width: 390px;
}
.box__parametr {
	border-radius: 50%;
	display: inline-block;
	width: 30.18px;
	height: 30px;	
	margin: 0 10px 55px 0;	
}

.price {
  display: inline-block;
  position: relative;
  left: 75px;
  bottom: 60px;
}
.count {
	margin-left: 40px;
	border: 2px solid #000;
	width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.count__plus,
.count__minus,
.count__counter {
	border: none;
	display: inline-block;
	padding: 0;
}
.count__btn-add {
	display: inline-block;
	width: 253px;
	height: 44px;
	position: relative;
	left: 170px;
	bottom: 44px;
}

.more {
	display: inline-block;
	position: relative;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 13px;
}
.box-klatch__more {
	right: 250px;
	top: 70px;
}

.vector2 {	
	content: url(../img/vec2.svg);
	position: relative;
	top: 40px;
	left: 245px;
		
}


/* third screen*/
.staff {
	height: 900px;
	width: 1440px;
	position: relative;
	left: 0;
	top: 0;
	/* вместо черной линии на третьем экране */
	background: linear-gradient(to right, #EBE3D8 27%, #000 27%, #000 32%, #EBE3D8 32%, #EBE3D8 68%);
}

.staff__trash {
	content: url(../img/trash.png);
	width: 827px;
	height: 621px;
	display: inline-block;
	position: relative;
	margin: 139px 0 0 88px;
}

.box-staff {
	bottom: 145px;
	right: 100px;
	width: 475px;
	height: 351px;
	background-color: #FAE8E4;
}
.box-staff__link-more {
	top: 40px;
	left: 120px;
}
.vector3 {
	content: url(../img/vec3.svg);
	position: relative;
	top: 40px;
	left: 145px;
}

/*footer отдельно от всего на абсолюте*/
footer {
	position: relative;
	bottom: 60px;
	height: 60px;
	width: 1440px;
}
.footer__text-dev {
	position: absolute;
	width: 100%;
	display: inline-block;
	left: 1180px;
	margin-top: 22px;
}
.footer__text-webhero {
	position: absolute;
	display: inline-block;
	left: 1307px;
	margin-top: 18px;
}
.footer__text-shcool {
	position: absolute;
	display: inline-block;
	left: 1345px;
	margin-top: 38px;
}